@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SUITE-Regular';
}
html {
  font-size: 62.5%;
  background: #D4E5C0;
  padding: 2rem;
}
ul {
  list-style: none;
}

.container {
  max-width: 53rem;
  margin: 0 auto;
  border-radius: 1.4rem;
  padding: 2rem;
  background: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.4rem;
  text-align: center;
}
.tab_container {
  position: relative;
}
.tab_list {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  background: #FFF;
  border-radius: 1.4rem;
}
.tab_list li {
  width: 33.3333%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
.tab_list li.active {
  color: #FFF;
  transition: .3s ease;
}
.tab_indicator {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #86BA46;
  border-radius: 1.4rem;
  transition: transform 0.3s ease, width 0.3s ease;
  z-index: 0;
}

/* ADD INPUT */
.add_input_wrap {
  height: 4.5rem;
  background: #FFF;
  border: 1px solid #86BA46;
  border-radius: .5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.add_input_wrap>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.add_input_wrap input {
  width: 90%;
  height: 100%;
  background: #FFF;
  border-radius: .5rem 0 0 .5rem;
  border: 0;
  outline: 0;
  padding: 0 1rem;
  font-size: 1.4rem;
}
.add_input_wrap span {
  display: inline-flex;
  align-items: end;
  padding: 0 1rem .5rem 0;
}
.add_input_wrap button {
  width: 10%;
  min-width: 4.5rem;
  height: 100%;
  border-radius: 0 .4rem .4rem 0;
  border: 0;
  background: #86BA46;
  color: #fff;
  vertical-align: top;
  cursor: pointer;
}

/* TODO-LIST*/
.todo_list {
  padding-left: .5rem;
  overflow-y: auto;
}
.todo_list li {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
.check_btn {
  background: transparent;
  border: 0;
  vertical-align: middle;
  margin: .3rem .5rem 0 0;
}

.todo {
  display: flex;
}
.todo_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.todo_list span {
  width: 100%;
  display: inline-block;
  padding-top: 5px;
  margin-right: 1rem;
  cursor: pointer;
}
.todo_list span::-webkit-scrollbar {
  display: none;
}
.todo_list span.on {
  color: #9d9d9d;
  text-decoration: line-through;
}
.todo_btns {
  display: flex;
}
.edit_btn, .remove_btn {
  background: transparent;
  border: 0;
  vertical-align: middle;
  margin-right: .5rem;
  cursor: pointer;
}
.edit_input_wrap {
  display: flex;
  justify-content: space-between;
}
.edit_input_wrap input {
  width: 100%;
  height: 2.75rem;
  outline: 0;
  border: 0;
  text-indent: 1rem;
  background: #D4E5C0;
  border-radius: .4rem;
  margin-right: 1rem;
}
.edit_btns {
  display: flex;
}
.cancel_btn {
  border: 1px solid #86BA46;
  line-height: 2.3;
  font-size: 1.2rem;
  padding: 0 .5rem;
  white-space: nowrap;
  border-radius: .4rem;
  color: #86BA46;
  background: #fff;
  min-width: 5.2rem;
  cursor: pointer;
  margin-right: .5rem;
}
.edit_completed_btn {
  border: 0;
  line-height: 2.3;
  font-size: 1.2rem;
  padding: 0 .5rem;
  background: #86BA46;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  min-width: 5.2rem;
}

.empty_img {
  margin: 10rem auto;
  display: block;
  width: 40%;
}
.empty_img img {
  width: 100%;
}
.empty_img p {
  color: #86BA46;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.6rem;
  word-break: keep-all;
}